Firmware/Test_Projects/Test1/3D_POV_Main_Board/Debug
Firmware/Test_Projects/Test1/3D_POV_Main_Board/Release
Firmware/Test_Projects/Test1/3D_POV_Main_Board/.xdchelp
Firmware/Test_Projects/Test1/3D_POV_Main_Board/.launches
Firmware/Test_Projects/Test1/3D_POV_Main_Board/.metadata

